* {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  background: #ddd;
}

/* card style applies to all cards */

.card {
  background: #fff;
  border-radius: 0.15em;
  max-height: 800px;
  padding: 1em 2em;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.16);
  width: 100%;
  transform-origin: 50% 0;
  transform: perspective(100px) translateY(75px) scale(0.9) rotateX(-10deg);
  opacity: 0;
  transition: all 0.4s ease, max-height 0.75s ease;
}

/* newly added cards in front are always opaque */

.card--added {
  transform: translateY(0px) scale(1);
  opacity: 1;
}

/* stacked cards are arranged with decreasing opacity */

.card:nth-last-of-type(2) {
  transform: translate3d(0, -10px, -32px);
  opacity: 1;
}
.card:nth-last-of-type(2):hover {
  transform: translate3d(0, calc(-100% - 0px), -32px);
}
.card:nth-last-of-type(3) {
  transform: translate3d(0, -20px, -64px);
  opacity: 0.85;
}
.card:nth-last-of-type(3):hover {
  transform: translate3d(0, calc(-100% - 10px), -64px);
}
.card:nth-last-of-type(4) {
  transform: translate3d(0, -30px, -96px);
  opacity: 0.7;
}
.card:nth-last-of-type(4):hover {
  transform: translate3d(0, calc(-100% - 20px), -96px);
}
.card:nth-last-of-type(5) {
  transform: translate3d(0, -40px, -128px);
  opacity: 0.55;
}
.card:nth-last-of-type(5):hover {
  transform: translate3d(0, calc(-100% - 30px), -128px);
}
.card:nth-last-of-type(6) {
  transform: translate3d(0, -50px, -160px);
  opacity: 0.4;
}
.card:nth-last-of-type(6):hover {
  transform: translate3d(0, calc(-100% - 40px), -160px);
}
.card:nth-last-of-type(7) {
  transform: translate3d(0, -60px, -192px);
  opacity: 0.25;
}
.card:nth-last-of-type(7):hover {
  transform: translate3d(0, calc(-100% - 50px), -192px);
}
.card:nth-last-of-type(8) {
  transform: translate3d(0, -70px, -224px);
  opacity: 0.1;
}
.card:nth-last-of-type(8):hover {
  transform: translate3d(0, calc(-100% - 60px), -224px);
}
.card:nth-last-of-type(9) {
  transform: translate3d(0, -80px, -256px);
  opacity: -0.05;
}
.card:nth-last-of-type(9):hover {
  transform: translate3d(0, calc(-100% - 70px), -256px);
}
.card:nth-last-of-type(10) {
  transform: translate3d(0, -90px, -288px);
  opacity: -0.2;
}
.card:nth-last-of-type(10):hover {
  transform: translate3d(0, calc(-100% - 80px), -288px);
}
.card:nth-last-of-type(11) {
  transform: translate3d(0, -100px, -320px);
  opacity: -0.35;
}
.card:nth-last-of-type(11):hover {
  transform: translate3d(0, calc(-100% - 90px), -320px);
}
.card:nth-last-of-type(n+10) {
  display: none;
}
.card:nth-last-of-type(n+2) {
  position: absolute;
  max-height: 100px;
  overflow: hidden;
}
.card:nth-last-of-type(n+2):hover {
  opacity: 1;
  transition-delay: 0.333s;
}

.stacked-cards {
  margin-top: 120px;
  perspective: 1000px;
  position: relative;
}
